<?xml version="1.0" encoding="UTF-8"?>

<menu-list xmlns="http://www.cleda.org/menu.xsd">

	<i18nCls key="" cls="com.minotauro.sandbox.init.menutest._I18NMenu" />
	<i18nCls key="AppInstance" cls="com.minotauro.sandbox.app._I18NAppInstance" />

	<!-- **************************************** -->
	<!-- no priv / role required -->
	<!-- **************************************** -->

	<entry route="none" order="0" i18nKey="none" />

	<!-- test an empty entry -->
	<entry route="none/emptyA"                order="0" i18nKey="empty" />

	<entry route="none/entry"                 order="1" i18nKey="noneA" />
	<event route="none/entry/noneA"             order="0" i18nKey="noneA"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/entry/noneB"             order="1" i18nKey="noneB"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/entry/noneC"             order="2" i18nKey="noneC"
		handler="com.minotauro.echo.desktop.DummyEvent" />

	<group route="none/group_1"               order="2" />
	<entry route="none/group_1/entryA"           order="0" i18nKey="entryA" />
	<event route="none/group_1/entryA/noneA"       order="0" i18nKey="noneA"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/group_1/entryA/noneB"       order="1" i18nKey="noneB"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/group_1/entryA/noneC"       order="2" i18nKey="noneC"
		handler="com.minotauro.echo.desktop.DummyEvent" />

	<entry route="none/group_1/entryB"           order="1" i18nKey="entryB" />
	<event route="none/group_1/entryB/noneA"       order="0" i18nKey="noneA"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/group_1/entryB/noneB"       order="1" i18nKey="noneB"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/group_1/entryB/noneC"       order="2" i18nKey="noneC"
		handler="com.minotauro.echo.desktop.DummyEvent" />

	<!-- *** -->

	<group route="none/group_2"               order="3" />
	<entry route="none/group_2/entryA"           order="0" i18nKey="entryA" />
	<event route="none/group_2/entryA/noneA"       order="0" i18nKey="noneA"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/group_2/entryA/noneB"       order="1" i18nKey="noneB"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/group_2/entryA/noneC"       order="2" i18nKey="noneC"
		handler="com.minotauro.echo.desktop.DummyEvent" />

	<entry route="none/group_2/entryB"           order="1" i18nKey="entryB" />
	<event route="none/group_2/entryB/noneA"       order="0" i18nKey="noneA"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/group_2/entryB/noneB"       order="1" i18nKey="noneB"
		handler="com.minotauro.echo.desktop.DummyEvent" />
	<event route="none/group_2/entryB/noneC"       order="2" i18nKey="noneC"
		handler="com.minotauro.echo.desktop.DummyEvent" />

	<!-- test an empty entry -->
	<entry route="none/emptyB"                order="4" i18nKey="empty" />

	<event route="none/exit" order="5" i18nCls="AppInstance" i18nKey="exit"
		handler="com.minotauro.echo.desktop.ExitEvent" />

	<!-- **************************************** -->
	<!-- only priv1 required -->
	<!-- **************************************** -->

	<entry route="priv1" order="1" i18nKey="priv1" />

	<entry route="priv1/entry"                 order="0" i18nKey="priv1" />
	<event route="priv1/entry/noneA"             order="0" i18nKey="priv1A"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv1"/>
	<event route="priv1/entry/noneB"             order="1" i18nKey="priv1B"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv1"/>
	<event route="priv1/entry/noneC"             order="2" i18nKey="priv1C"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv1"/>

	<!-- **************************************** -->
	<!-- only priv2 required -->
	<!-- **************************************** -->

	<entry route="priv2" order="2" i18nKey="priv2" />

	<entry route="priv2/entry"                 order="0" i18nKey="priv2" />
	<event route="priv2/entry/noneA"             order="0" i18nKey="priv2A"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv2"/>
	<event route="priv2/entry/noneB"             order="1" i18nKey="priv2B"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv2"/>
	<event route="priv2/entry/noneC"             order="2" i18nKey="priv2C"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv2"/>

	<!-- **************************************** -->
	<!-- only priv1 & role1 required -->
	<!-- **************************************** -->

	<entry route="priv1role1" order="3" i18nKey="priv1role1" />

	<entry route="priv1role1/entry"                 order="0" i18nKey="priv1role1" />
	<event route="priv1role1/entry/noneA"             order="0" i18nKey="priv1role1A"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv1" role="test.role1"/>
	<event route="priv1role1/entry/noneB"             order="1" i18nKey="priv1role1B"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv1" role="test.role1"/>
	<event route="priv1role1/entry/noneC"             order="2" i18nKey="priv1role1C"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv1" role="test.role1"/>

	<!-- **************************************** -->
	<!-- only priv2 & role2 required -->
	<!-- **************************************** -->

	<entry route="priv2role2" order="4" i18nKey="priv2role2" />

	<entry route="priv2role2/entry"                 order="0" i18nKey="priv2role2" />
	<event route="priv2role2/entry/noneA"             order="0" i18nKey="priv2role2A"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv2" role="test.role2"/>
	<event route="priv2role2/entry/noneB"             order="1" i18nKey="priv2role2B"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv2" role="test.role2"/>
	<event route="priv2role2/entry/noneC"             order="2" i18nKey="priv2role2C"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv2" role="test.role2"/>

	<!-- **************************************** -->
	<!-- mixed -->
	<!-- **************************************** -->

	<entry route="mixed" order="5" i18nKey="mixed" />

	<group route="mixed/group_1"               order="0" />
	<entry route="mixed/group_1/entry"           order="0" i18nKey="priv1" />
	<event route="mixed/group_1/entry/priv1A"      order="0" i18nKey="priv1A"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv1"/>
	<event route="mixed/group_1/entry/priv1B"      order="1" i18nKey="priv1B"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv1"/>
	<event route="mixed/group_1/entry/priv1C"      order="2" i18nKey="priv1C"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv1"/>

	<group route="mixed/group_2"               order="1" />
	<entry route="mixed/group_2/entry"           order="0" i18nKey="priv2" />
	<event route="mixed/group_2/entry/priv2A"      order="0" i18nKey="priv2A"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv2"/>
	<event route="mixed/group_2/entry/priv2B"      order="1" i18nKey="priv2B"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv2"/>
	<event route="mixed/group_2/entry/priv2C"      order="2" i18nKey="priv2C"
		handler="com.minotauro.echo.desktop.DummyEvent" priv="test.priv2"/>

</menu-list>
